html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  /* Ensures full viewport height */
  font-family: sans-serif;
}

.green-button {
  background-color: #16a34a;
  /* Tailwind green-600 */
  color: white;
  font-size: 0.875rem;
  /* text-sm */
  padding: 0.375rem 1rem;
  /* vertical: 6px, horizontal: 16px */
  border-radius: 0.375rem;
  /* rounded */
  text-align: center;
  display: inline-block;
  transition: background-color 0.2s ease;
}

.green-button:hover {
  background-color: #15803d;
  /* Tailwind green-700 */
}

.blue-button {
  padding: 0.375rem 0.75rem;
  /* py-1.5 px-3 */
  background-color: #2563eb;
  /* bg-blue-600 */
  color: white;
  /* text-white */
  font-size: 0.875rem;
  /* text-sm */
  border-radius: 0.375rem;
  /* rounded-md */
  transition: background-color 0.2s ease;
}

.blue-button:hover {
  background-color: #1d4ed8;
  /* hover:bg-blue-700 */
}

.small-text {
  font-size: 0.875rem;
  /* Tailwind's text-sm */
  /* Tailwind's gray-600 */
  margin-bottom: 1rem;
  /* Tailwind's mb-4 */
}

.rounded-dropdown {
  width: auto;
  background-color: white;
  padding: 0.25rem 0.5rem;
  /* px-3 py-2 */
  font-size: 0.875rem;
  /* text-sm */
  font-weight: 300;
  /* font-semibold */
  color: #1f2937;
  /* text-gray-800 */
  border-radius: 0.375rem;
  /* rounded-md */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  /* shadow-xs */
  border: 1px solid #d1d5db;
  /* ring-1 ring-gray-300 */
  outline: none;
  margin-bottom: 0.125rem;
}

.rounded-dropdown:hover {
  background-color: #f9fafb;
  /* hover:bg-gray-50 */
}


.gray-button {
  /* mt-2 */
  flex: 1;
  width: auto;
  /* w-full */
  background-color: #d1d5db;
  /* bg-gray-300 */
  padding: 0.375rem 1rem;
  color: #374151;
  /* text-gray-700 */
  font-size: 0.875rem;
  /* text-sm */
  padding-top: 0.375rem;
  /* py-1.5 */
  padding-bottom: 0.375rem;
  border-radius: 0.375rem;
  /* rounded */
  transition: background-color 0.2s ease;
}

.gray-button:hover {
  background-color: #9ca3af;
  /* hover:bg-gray-400 */
}

body {
  font-family: 'Inter', sans-serif;
}

.dropdown-button::after {
  content: '\25BC';
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 0.75rem;
  color: #6b7280;
}

.category {
  flex: 1;
  min-width: 200px;
}

.relative {
  position: relative;
}

textarea {
  resize: vertical;
}